<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDeowAcy06NZGS5CMSvaoeu9tM6PZkMPWw</string>
	<key>GCM_SENDER_ID</key>
	<string>1083176832169</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testFirebase1.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>test-b5031</string>
	<key>STORAGE_BUCKET</key>
	<string>test-b5031.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1083176832169:ios:f084ed4587d690f9e12db8</string>
</dict>
</plist>